<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="section1">
        <div class="header">
            <div class="logo">
                <img src="img/logo.svg">
            </div>
            <div class="name">
                <h1>LearningZone</h1>
            </div>
            
        </div>

        <div class="header2">
            <div class="join">
               <h3> <a href="/signup">Join our community</a> </h3>
            </div>
        </div>
    </div>

    <div class="section2">
        <div class="overlay">
            <div class="inner">
                
                <div class="form">
                    <div class="head">
                        <h2>Login Here</h2>
                        <p>Give your credential below</p>
                    </div>
                    <form method="post" action="/login">
                        <div class="name">
                            <input type="text" name="name" placeholder="Name">
                        </div>
                        <div class="name">
                            <input type="text" name="password" placeholder="Password">
                        </div>
                        <div class="but">
                            <input type="submit" value="login" >
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>