<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div class="section1">
        <div class="header">
            <div class="logo">
                <a href="/"><img src="img/logo.svg"></a>
            </div>
            <div class="name">
                <a href="/"><h1>LearningZone</h1></a>
            </div>
            
        </div>

        <div class="extra">
            <div class="login">
                <h3><a href="/login">Login</a></h3>
            </div>
            
        </div>
       
    </div>


    <div class="section2">
        <div class="body">
            <div class="part1">
                <div class="part1-head">
                    <h2>Create a new Account</h2>
                </div>

                <div class="part1-form">
                    <form action="/signup" method="POST" >
                        <div class="username"><h3>Username</h3></div>
                        <div class="ex">
                        <input type="text" name="username" class="name-form"  placeholder="Enter your Username" id="fname" required> <p id="message1"></p>
                        </div>
                        <div class="email"><h3>Email</h3></div>
                        <input  type="email" class="email-form" name="email" placeholder="Enter your Email id" required>

                        <div class="password"><h3>Password</h3></div>
                        <input type="password" class="pass-form" name="password" placeholder="Enter your Passoword" required>

                        <div class="policy">
                            <h5>By signing up. I agree to the <label class="co">Terms</label> & <label class="co">Policy</label> </h5>
                        </div>

                        <div class="signup-button"><input type="submit" value="sign up" id="signup"></div>
                        

                        



                    </form>
                </div>
            </div>
            <div class="part2">
                
                <div class="overlay">
                    <div class="inner">
                        <div class="part2-head">
                            <h3>Connecting the World's diverse community of Learner</h3>
                        </div>
    
                        <div class="part2-para">
                            <p>"Hey connect with us to know more about the technical readers club where you can learn variousvrious topics through articles only"</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
         $(document).ready(function(){
            $('#signup').attr('disabled', 'disabled');
                $("#fname").keyup(function(){
                    //$("#fname").css("background-color", "yellow");
                    var data1=$(this).val();
                    
                    
                    console.log(data1);
                        $.ajax({    //create an ajax request to display.php
                                type: "GET",
                                url: "/ajax",             
                                dataType: "text", 
                                data:data1, //expect html to be returned                
                                success: function(response){                    
                                    // $("#responsecontainer").html(response); 
                                    //alert(response);
                                    console.log(response);
                                    if(response=="Not Available"){
                                    $('#message1').text(response);
                                    $('#message1').css("color","red");
                                    $('#signup').attr('disabled', 'disabled');
                                    }
                                    else if(response=="Available"){
                                        $('#message1').text(response);
                                        $('#message1').css("color","green"); 
                                        $('#signup').removeAttr('disabled');
                                    }
                                    else{
                                        $('#message1').text(response);
                                        $('#signup').attr('disabled', 'disabled');
                                    }
                                }

                            })
                    
                    
                });
                
                
            });
    </script>

</html>