<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div class="section1">
        <div class="header">
            <div class="logo">
                <img src="img/logo.svg">
            </div>
            <div class="name">
                <h1>LearningZone</h1>
            </div>
            
        </div>

        <div class="extra">
            <div class="login">
                <h3>Login</h3>
            </div>
            <div class="about">
                <h3>About</h3>
            </div>
        </div>
       
    </div>


    <div class="section2">
        <div class="body">
            <div class="part1">
                <div class="part1-head">
                    <h2>Create a new Account</h2>
                </div>

                <div class="part1-form">
                    <form action="/signup" >
                        <div class="username"><h3>Username</h3></div>
                        <input type="text" name="username" class="name-form"  placeholder="Enter your Username">

                        <div class="email"><h3>Email</h3></div>
                        <input type="text" class="email-form" name="email" placeholder="Enter your Email id">

                        <div class="password"><h3>Password</h3></div>
                        <input type="text" class="pass-form" name="password" placeholder="Enter your Passoword">

                        <div class="policy">
                            <h5>By signing up. I agree to the <label class="co">Terms</label> & <label class="co">Policy</label> </h5>
                        </div>

                        <div class="signup-button"><input type="submit" value="sign up"></div>
                        

                        



                    </form>
                </div>
            </div>
            <div class="part2">
                
                <div class="overlay">
                    <div class="inner">
                        <div class="part2-head">
                            <h3>Connecting the World's diverse community of Learner</h3>
                        </div>
    
                        <div class="part2-para">
                            <p>"Hey connect with us to know more about the technical readers club where you can learn variousvrious topics through articles only"</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>